/* Media Queries */

/* Ajustes para pantallas medianas (tablets y dispositivos de ancho intermedio) */
@media (max-width: 1024px) {
    .modal-edit-content {
        width: 70%;
        padding: 15px;
        max-width: 500px; /* Reduce el máximo ancho para tablets */
    }

    .form-group input,
    .form-group textarea {
        width: calc(100% - 20px); /* Ajuste de ancho para espacio más pequeño */
    }

    .modal-edit-content button {
        padding: 12px;
        width: auto; /* Permitir que el botón ajuste su ancho automáticamente */
    }
}

/* Ajustes para pantallas pequeñas (teléfonos en orientación horizontal) */
@media (max-width: 768px) {
    .modal-edit-content {
        width: 80%;
        padding: 10px;
        max-width: 450px; /* Reduce el máximo ancho para teléfonos grandes */
    }

    .modal-edit-content h2 {
        font-size: 1.5rem; /* Reducir el tamaño del título */
    }

    .form-group input,
    .form-group textarea {
        padding: 8px; /* Reducir el padding de los campos de formulario */
    }

    .modal-edit-content button {
        padding: 10px;
    }
}

/* Ajustes para pantallas muy pequeñas (teléfonos en orientación vertical) */
@media (max-width: 480px) {
    .modal-edit-content {
        width: 90%;
        padding: 5px;
        max-width: 350px; /* Reduce el máximo ancho para teléfonos pequeños */
    }

    .modal-edit-content h2 {
        font-size: 1.2rem; /* Ajuste de tamaño de fuente para pantallas pequeñas */
    }

    .form-group input,
    .form-group textarea {
        padding: 5px;
    }

    .modal-edit-content button {
        padding: 8px;
        font-size: 1rem; /* Ajuste de tamaño de fuente del botón */
    }

    .close {
        font-size: 20px; /* Ajustar el tamaño del botón de cierre */
    }
}