.register-login {
  background: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  max-width: 400px;
  margin: 20px auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.register-login h2 {
  font-size: 1.5rem;
  text-align: center;
}

.register-login form {
  display: flex;
  flex-direction: column;
}

.register-login label {
  margin-top: 10px;
}

.register-login input {
  padding: 8px;
  margin-top: 5px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.register-login button {
  margin-top: 10px;
  padding: 10px;
  font-size: 1rem;
  background-color: #ff3700;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.register-login button:hover {
  background-color: #ff3700;
  color: white;
}

.register-login .error {
  color: red;
  margin-top: 10px;
}

.switch-button {
  text-align: center;
  margin-top: 10px;
}

.switch-button button {
  background: none;
  border: none;
  color: #313437;
  cursor: pointer;
}

.switch-button button:hover {
  text-decoration: underline;
}
