.page-title {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-top: 100px;
}

/* Estilos para el contenedor de la lista de productos */
.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px;
    /* padding: 16px; */
    background-color: #f9f9f9;
    margin-top: 20px;
    
}

/* Estilos básicos para cada tarjeta de producto en la lista */
.product-list-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 16px;
    text-align: center;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.product-list-element:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-4px);
}

/* Estilo para la imagen del producto */
.product-list-element img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 16px;
}

/* Estilo para el nombre del producto */
.product-list-element h2 {
    font-size: 1.25rem;
    font-weight: bold;
    color: #333;
    margin: 8px 0;
}

/* Estilo para el modelo del producto */
.product-list-element p {
    font-size: 1rem;
    color: #666;
    margin: 4px 0;
}

/* Estilo para el precio del producto */
.product-list-element p:nth-of-type(2) {
    font-size: 1.25rem;
    font-weight: bold;
    color: #007BFF;
    margin: 8px 0;
}

/* Estilo para el enlace a más información */
.product-list-element a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
    margin-top: 8px;
    transition: color 0.3s ease;
}

.product-list-element a:hover {
    color: #0056b3;
}

/* Estilo para el número de comentarios */
.product-list-element p:nth-of-type(3) {
    font-size: 0.875rem;
    color: #999;
    margin-top: 8px;
}

/* Estilos para el botón de nuevo producto */
button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin: 20px;
    transition: background-color 0.3s ease;
    margin-bottom: 50px;
}

button:hover {
    background-color: #0056b3;
}




.modal {
    margin-top: 70px;
    margin-bottom: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-height: 80%;
    max-width: 600px;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.comments-link {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.comments-section {
    margin-top: 80px;
    margin-bottom: 140px;

}

.comment {
    margin-bottom: 10px;
}

.add-comment-section {
    margin-top: 20px;
}
