.page-title {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-top: 100px;
}

/* Estilos para el contenedor de la lista de productos */
.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px;
    /* padding: 16px; */
    background-color: #f9f9f9;
    margin-top: 2rem;
    margin-bottom: 6rem;
}

/* Estilos básicos para cada tarjeta de producto en la lista */
.product-list-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 16px;
    text-align: center;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.product-list-element:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-4px);
}

/* Estilo para la imagen del producto */
.product-list-element img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 16px;
}

/* Estilo para el nombre del producto */
.product-list-element h2 {
    font-size: 1.25rem;
    font-weight: bold;
    color: #333;
    margin: 8px 0;
}

/* Estilo para el modelo del producto */
.product-list-element p {
    font-size: 1rem;
    color: #666;
    margin: 4px 0;
}

/* Estilo para el precio del producto */
.product-list-element p:nth-of-type(2) {
    font-size: 1.25rem;
    font-weight: bold;
    color: #007BFF;
    margin: 8px 0;
}

/* Estilo para el enlace a más información */
.product-list-element a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
    margin-top: 8px;
    transition: color 0.3s ease;
}

.product-list-element a:hover {
    color: #0056b3;
}

/* Estilo para el número de comentarios */
.product-list-element p:nth-of-type(3) {
    font-size: 0.875rem;
    color: #999;
    margin-top: 8px;
}

.product-info {

    margin-top: auto;
}

/* Estilos para el botón de nuevo producto */
button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin: 20px;
    transition: background-color 0.3s ease;
    margin-bottom: 50px;

}

button:hover {
    background-color: #0056b3;
}





.modal {
    display: block;
    /* Відображаємо модальне вікно */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    /* Прозорий чорний фон */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* Центруємо модальне вікно */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content{
    background-color: #819ebd;
}

.modal-content h2 {
    
    margin-bottom: 15px;
}

.modal-content form {
    display: grid;
    gap: 10px;
}

.modal-content form label {
    font-weight: bold;
}

.modal-content form input,
.modal-content form select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.modal-content form button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
}

.modal-content form button:hover {
    background-color: #45a049;
}

