/* Estilos para el pie de página */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    background-color: #333;
    color: #fff;
}

.footer .scroll-to-top {
    background-color: #007BFF;
    color: #fff;
    padding: 8px 12px;
    border-radius: 50%;
    font-size: 1.25rem;
    transition: background-color 0.3s ease;
}

.footer .scroll-to-top:hover {
    background-color: #0056b3;
}

.footer .copyright {
    font-size: 1rem;
}

.footer .creators {
    display: flex;
    gap: 16px;
    margin-right: 20px; /* esto ajusta el margen derecho para móviles */

}

.footer .creator-link {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #fff;
    transition: color 0.3s ease;
}

.footer .creator-link:hover {
    color: #007BFF;
}

.footer .creator-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.footer .creator-name {
    font-size: 1rem;
}

