/* Profile.css */

.profile-container {
    padding-top: 70px 20px 20px 7аше0px;
    max-width: 1400 px;
    margin: 0 auto;
    
    font-family: Arial, sans-serif;
}

.user-card {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.user-card h2 {
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.user-card p {
    margin-bottom: 5px;
}

.updateUser-modal {
    max-width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.updateUser-modal form {
    display: flex;
    flex-direction: column;
}

.updateUser-modal label {
    margin-bottom: 5px;
}

.updateUser-modal input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 1rem;
}

.updateUser-modal button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1rem;
    
}

.updateUser-modal button:hover {
    background-color: #0056b3;
}

.bought-carts-history {
    margin-top: 20px;
}

.cart-card-history {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.cart-card-history h4 {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.cart-card-history ul {
    list-style-type: none;
    padding-left: 0;
}

.cart-card-history li {
    margin-bottom: 5px;
}

.favorite-products {
    margin-top: 20px;
}

.favorite-products-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.favorite-product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Змінено auto-fit на auto-fill */
    gap: 20px;
}

.favorite-product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.favorite-product-card img {
    max-width: 100%;
    height: auto; /* Змінено на автоматичну висоту */
    border-radius: 5px;
    margin-bottom: 10px; /* Додано відступ знизу */
}

.favorite-product-card p {
    margin-bottom: 10px; /* Збільшено відступ */
}

.favorite-product-card button {
    padding: 8px 15px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1rem;
}

.favorite-product-card button:hover {
    background-color: #c82333;
}
