/* Cart.css */

.cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px; /* Añadido para separación del borde del viewport */
}

.cart-card {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    max-width: 600px;
}

.cart-img {
    max-width: 100px; /* Ajusta este valor según el tamaño deseado */
    max-height: 100px; /* Ajusta este valor según el tamaño deseado */
    object-fit: cover; /* Mantiene el aspecto de la imagen */
    margin-right: 20px;
}

.cart-info {
    flex: 1;
}

.cart-quantity {
    display: flex;
    align-items: center;
}

.button-quantity {
    background-color: #007BFF; /* Color de fondo para resaltar */
    color: white; /* Color de texto */
    border: none;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 50%; /* Hace que los botones sean completamente redondos */
}

.button-number {
    margin: 0 10px;
}

.cart-total {
    margin-top: 20px;
}

@media (max-width: 768px) {
    .cart-card {
        flex-direction: column;
        align-items: flex-start;
    }

    .cart-img {
        margin-right: 0;
        margin-bottom: 10px; /* Espacio entre la imagen y la información en dispositivos móviles */
    }

    .cart-info {
        width: 100%; /* Asegura que la información ocupe todo el ancho disponible */
    }

    .button-quantity {
        margin: 5px 0; /* Espacio entre los botones de cantidad */
    }
}
